<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %c %5p -: %m%n"/>
        </layout>
    </appender>
    
	<appender name="DEFAULT_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="log/default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %c %5p -: %m%n" />
		</layout>
	</appender>
    
	<appender name="INSIDE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="log/inside.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %c %5p -: %m%n" />
		</layout>
	</appender>
	
	<appender name="OUTSIDE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="log/outside.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %c %5p -: %m%n" />
		</layout>
	</appender>
    
    <!-- 
    <logger name="com.xx_dev.apn.proxy.inside" additivity="false">
        <level value="debug"/>
        <appender-ref ref="INSIDE_APPENDER"/>
        <appender-ref ref="CONSOLE_APPENDER" />
    </logger>
    
    <logger name="com.xx_dev.apn.proxy.outside" additivity="false">
        <level value="debug"/>
        <appender-ref ref="OUTSIDE_APPENDER"/>
        <appender-ref ref="CONSOLE_APPENDER" />
    </logger>
     -->
    
    <logger name="com.xx_dev.apn.proxy" additivity="false">
        <level value="info"/>
        <appender-ref ref="DEFAULT_APPENDER"/>
        <appender-ref ref="CONSOLE_APPENDER" />
    </logger>

    <root>
        <level value="warn"/>
        <appender-ref ref="DEFAULT_APPENDER"/>
    </root>

</log4j:configuration>

