<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %c %5p -: %m%n"/>
        </layout>
    </appender>
    
    <logger name="com.xx_dev.apn.proxy" additivity="false">
        <level value="debug"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </logger>

    <root>
        <level value="warn"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

</log4j:configuration>

