<?xml version="1.0" encoding="UTF-8" ?>
<apn-proxy>

    <!-- By default, config apn-proxy listen in plain mode act as a normal http proxy server -->
    <listen-type>plain</listen-type>

    <!-- Let apn-proxy listen in 3des mode -->
    <!-- <listen-type>3des</listen-type> -->
    <!-- <triple-des-key></triple-des-key> -->

    <!-- Let apn-proxy listen in ssl mode -->
    <!-- <listen-type>ssl</listen-type> -->
    <!-- ssl mode must config server key store
    <key-store>
        <path>conf/keystore.ks</path>
        <password>123456</password>
    </key-store>
    -->

    <port>8700</port>
    <thread-count>
        <boss>50</boss>
        <worker>200</worker>
    </thread-count>

    <pac-host>localhost</pac-host>

    <use-ipv6>false</use-ipv6>

    <!-- config the local ip when access the original host -->
    <!--
    <local-ip-rules>
        <rule>
            <local-ip></local-ip>
            <apply-list>
                <original-host>google.com</original-host>
                <original-host>youtube.com</original-host>
            </apply-list>
        </rule>
        <rule>
            <local-ip></local-ip>
            <apply-list>
                <original-host>youtube.com</original-host>
                <original-host>ip6.me</original-host>
                <original-host>bt.shu6.edu.cn</original-host>
            </apply-list>
        </rule>
    </local-ip-rules>
    -->
</apn-proxy>